/* StyleSheet 1 */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Common practice when working with rem, it makes 1rem exactly 10px, so easier to calculate with it */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.container-title {
  float: left;
  width: 50%;
  margin: 2.5rem 2.5rem 0 2.5rem;
  padding: 1rem;
}

.container-logo {
  float: left;
  width: 40%;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 1rem 0 1rem;
}

.header {
  background: #cabbb7;
  width: 100%;
  height: 20rem;
}

.header__title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  padding-left: 10rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.header__logo {
  height: 14rem;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.main-nav {
  background: #c65252;
  margin: 0;
  width: 100%;
  height: 6rem;
}

.main-nav__items {
  margin: 0;
  float: right;
  margin-right: 7rem;
}

.main-nav__item {
  display: inline-block;
  padding: 1.5rem 1rem;
  list-style: none;
}

.main-nav__item > a {
  color: #f0ecec;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: ease 0.5s;
}

.main-nav__item > a:hover {
  font-size: 2.6rem;
}

.main-content {
  margin: 0 auto;
  width: 90%;
}

.main-content__title {
  font-size: 12rem;
  text-align: center;
}

.main-content__section1 img {
  width: 100%;
}

.main-content__figcaption {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

.main-content__section2 img {
  width: 45rem;
}

.main-content__section2__container {
  float: left;
  width: 40%;
}

.main-content__section2__container--left {
  margin-right: 8rem;
}

.footer {
  display: inline-block;
  background: #cabbb7;
  width: 120rem;
  height: 20rem;
  margin: 0 auto;
}

.footer__logo {
  display: inline-block;
  width: 28rem;
  text-align: center;
}

.footer__text {
  text-align: center;
  font-size: 1.2rem;
}

.footer__content-container {
  margin: 0 auto;
  display: table;
  padding: 4rem;
}
